﻿@model IEnumerable<WebApplication1.Models.custmodel>

@{
    ViewBag.Title = "employee";
}

<h2>employee</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-primary" })
</p>
<table class="table"style="border:double">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobileno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mobileno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gmail)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
