﻿@model WebApplication1.Models.custmodel

@{
    ViewBag.Title = "Index";
    var s = ViewData["data"] as WebApplication1.Models.custmodel;
    var t = ViewData["system"] as System.Data.DataSet;
}

<h2>Index</h2>

<div>
    <table>
        <tr>
            <th>Id</th>
            <td>@s.Id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@s.Name</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@s.Address</td>
        </tr>
        <tr>
            <th>Mobileno</th>
            <td>@s.Mobileno</td>
        </tr>
        <tr>
            <th>Gmail</th>
            <td>@s.Gmail</td>
        </tr>
    </table>
    <h4>custmodel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobileno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobileno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
